/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$help-icon-default-bg: $input-group-addon-bg !default;
<<<<<<< HEAD
$help-icon-default-color: lx-color-by-lightness(
	$text-color,
	$help-icon-default-bg
) !default;
$help-icon-default-hover-color: lx-color-by-lightness(
	$text-color,
	$help-icon-default-bg,
	'secondary'
) !default;
=======
$help-icon-default-color: lx-color-by-lightness($text-color, $help-icon-default-bg) !default;
$help-icon-default-hover-color: lx-color-by-lightness($text-color, $help-icon-default-bg, "secondary") !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

$icon-monospaced-size: 32px !default;

$lexicon-icon-size: 16px !default;

$lexicon-icon-lg-size: 128px !default;
$lexicon-icon-md-size: 32px !default;
<<<<<<< HEAD
$lexicon-icon-sm-size: 7px !default;
=======
$lexicon-icon-sm-size: 7px !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
