/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$sidenav-transition: all 0.5s ease !default;
$sidenav-width: 320px !default;
<<<<<<< HEAD
$zindex-sidenav: $zindex-navbar-fixed + 5 !default;
=======
$zindex-sidenav: $zindex-navbar-fixed + 5 !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
