/*/build
/*/bundles
/*/test-classes
/*/test-coverage
/*/test-results
/*/test.*.properties
/*/test/functional-generated
/*/tests
/build.*.properties
/test.*.properties

!/.gradle
/.gradle/*
!/.gradle/caches
/.gradle/caches/*
!/.gradle/caches/modules-2
/.gradle/caches/modules-2/*
!/.gradle/caches/modules-2/files-2.1