.gradle
.idea
.vscode
build/
/*/bundles
/*/poshi-*.properties
/*/test-classes
/*/test-coverage
/*/test-results
/*/test.*.properties
/*/test-*.properties
/*/test/functional-generated
/*/tests
/build.*.properties
/gradle-local.properties
/test.*.properties
/test-*.properties
tmp/*