.DS_Store
.gradle
.idea
.vscode
/*/.env
/*/bundles
/*/poshi-*.properties
/*/test-*.properties
/*/test-classes
/*/test-coverage
/*/test-results
/*/test.*.properties
/*/test/functional-generated
/*/tests
/build.*.properties
/gradle-local.properties
/test-*.properties
/test.*.properties
build/
tmp/*