/* ---------- Dynamic data list display/Journal portlet ---------- */

<<<<<<< HEAD
.portlet-dynamic-data-lists-display,
.portlet-dynamic-data-lists,
.portlet-journal {
=======
.portlet-dynamic-data-lists-display, .portlet-dynamic-data-lists, .portlet-journal {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	.lfr-ddm-field-group {
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 28px 24px 28px;
	}
}

/* ---------- Breadcrumb taglib ---------- */

.breadcrumb.breadcrumb-vertical {
	display: inline-block;
	text-align: center;

	li {
		display: block;

<<<<<<< HEAD
		&.last,
		&.only {
=======
		&.last, &.only {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			background: none;
		}
	}

	.divider {
		background: url(../images/arrows/07_down.png) no-repeat 50% 100%;
		display: block;

		@include hide-text();

		height: 10px;
	}
}

/* ---------- Calendar taglib ---------- */

.taglib-calendar {
	tr {
<<<<<<< HEAD
		&.portlet-section-header th,
		& td {
=======
		&.portlet-section-header th, & td {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			border-width: 0;
		}

		td {
			a {
<<<<<<< HEAD
				background-color: #f0f5f7;
				border: 1px solid #fff;
=======
				background-color: #F0F5F7;
				border: 1px solid #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				border-bottom-width: 0;
				border-left-width: 0;
				display: block;
				height: 15px;
				padding: 5px 0;

				&:hover {
<<<<<<< HEAD
					background-color: #727c81;
					color: #fff;
=======
					background-color: #727C81;
					color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}

			&.calendar-inactive {
<<<<<<< HEAD
				background-color: #fff;
				color: #b5bfc4;
=======
				background-color: #FFF;
				color: #B5BFC4;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}

		th {
<<<<<<< HEAD
			border-bottom-color: #d7d7d7;
=======
			border-bottom-color: #D7D7D7;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	table td {
		border-width: 0;
	}

	.calendar-current-day {
<<<<<<< HEAD
		&,
		& a {
			background-color: #fff;
		}

		a {
			border: 1px solid #727c81;
=======
		&, & a {
			background-color: #FFF;
		}

		a {
			border: 1px solid #727C81;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			color: #369;
			text-decoration: underline;
		}
	}
}

/* ---------- Navbar form search ---------- */

.navbar form {
	margin: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
