/* ---------- Standard styles defined in the JSR 168 specification ---------- */

/* ---------- Fonts ---------- */

.portlet-font {
}

.portlet-font-dim {
}

/* ---------- Sections ---------- */

.portlet-section-selected {
<<<<<<< HEAD
	&,
	a {
		background: #727c81;
		color: #fff;
=======
	&, a {
		background: #727C81;
		color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		font-weight: bold;
		text-decoration: none;
	}

<<<<<<< HEAD
	a:hover,
	a:focus {
		background-color: #727c81;
=======
	a:hover, a:focus {
		background-color: #727C81;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.portlet-section-subheader {
}

.portlet-section-footer {
}

.portlet-section-text {
}

/* ---------- Forms ---------- */

.portlet-form-label {
}

.portlet-form-input-field {
}

.portlet-form-button {
}

.portlet-form-field-label {
}

.portlet-form-field {
}

/* ---------- Icons ---------- */

.portlet-icon-label {
}

.portlet-dlg-icon-label {
}

/* ---------- Menus ---------- */

.portlet-menu {
}

.portlet-menu-item {
}

.portlet-menu-item-selected {
}

.portlet-menu-item-hover {
}

.portlet-menu-item-hover-selected {
}

.portlet-menu-cascade-item {
}

.portlet-menu-cascade-item-selected {
}

.portlet-menu-description {
}

.portlet-menu-caption {
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
