.card-tab-group {
<<<<<<< HEAD
	.card-tab:nth-child(n + 2) {
		border-left: $card-tab-border-left-width solid
			$card-tab-border-left-color;
		padding-left: $card-tab-padding-left-width;

		.card-tab {
			border-left: $card-tab-border-left-width solid
				lighten($card-tab-border-left-color, 10%);
=======
	.card-tab:nth-child(n+2) {
		border-left: $card-tab-border-left-width solid $card-tab-border-left-color;
		padding-left: $card-tab-padding-left-width;

		.card-tab {
			border-left: $card-tab-border-left-width solid lighten($card-tab-border-left-color, 10%);
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			padding-left: $card-tab-padding-left-width;

			.card-tab {
				border-left-color: lighten($card-tab-border-left-color, 20%);
			}
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
