.lfr-source-editor {
<<<<<<< HEAD
	border-color: #ccc;
=======
	border-color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

	.lfr-source-editor-toolbar {
		li {
			> .btn {
<<<<<<< HEAD
				background-color: #fff;
=======
				background-color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				border: transparent;
				color: #717383;
				outline: 0;
			}
		}
	}

	.lfr-source-editor-code {
<<<<<<< HEAD
		background-color: #fff;
		color: #2b4259;

		.ace_gutter {
			background-color: #ededef;
			color: #868896;
			overflow: hidden;
=======
		background-color: #FFF;
		color: #2B4259;

		.ace_gutter {
			background-color: #EDEDEF;
			color: #868896;
			overflow : hidden;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

			.ace_fold-widget {
				font-family: fontawesome-alloy;
				text-align: center;
				vertical-align: middle;

<<<<<<< HEAD
				&.ace_open,
				&.ace_closed {
=======
				&.ace_open, &.ace_closed {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
					background-image: none;
				}

				&.ace_open:before {
<<<<<<< HEAD
					content: '\f0d7';
				}

				&.ace_closed:before {
					content: '\f0dA';
=======
					content: "\f0d7";
				}

				&.ace_closed:before {
					content: "\f0dA";
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}

			.ace_gutter-active-cell {
<<<<<<< HEAD
				color: #fff;
			}

			.ace_gutter-active-line {
				background-color: #717383;
			}

			.ace_gutter-layer {
				border-right: solid 1px #ccc;
=======
				color: #FFF;
			}

			.ace_gutter-active-line {
				background-color : #717383;
			}

			.ace_gutter-layer {
				border-right: solid 1px #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}

			.ace_info {
				background-image: none;
			}
		}

		.ace_content {
			.ace_active-line {
<<<<<<< HEAD
				background-color: #ededef;
			}

			.ace_constant {
				color: #34adab;
			}

			.ace_tag {
				color: #1d5ec7;
			}

			.ace_string {
				color: #ff6c58;

				&.ace_regex {
					color: #f00;
=======
				background-color: #EDEDEF;
			}

			.ace_constant {
				color: #34ADAB;
			}

			.ace_tag {
				color: #1D5EC7;
			}

			.ace_string {
				color: #FF6C58;

				&.ace_regex {
					color: #F00;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}
		}
	}

	&.ace_dark {
		.lfr-source-editor-code {
<<<<<<< HEAD
			background-color: #47474f;
			color: #fff;

			.ace_gutter {
				background: #54555e;
				color: #fff;

				.ace_gutter-active-line {
					background-color: #009aed;
=======
			background-color: #47474F;
			color: #FFF;

			.ace_gutter {
				background: #54555E;
				color: #FFF;

				.ace_gutter-active-line {
					background-color : #009AED;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}

			.ace_content {
				.ace_active-line {
<<<<<<< HEAD
					background-color: #11394e;
				}

				.ace_cursor {
					color: #fff;
				}

				.ace_tag {
					color: #4d91ff;
=======
					background-color: #11394E;
				}

				.ace_cursor {
					color: #FFF;
				}

				.ace_tag {
					color: #4D91FF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}
		}
	}
}

<<<<<<< HEAD
.lfr-fullscreen-source-editor
	.lfr-fullscreen-source-editor-content
	.panel-splitter {
	border-color: #ccc;
}
=======
.lfr-fullscreen-source-editor .lfr-fullscreen-source-editor-content .panel-splitter {
	border-color: #CCC;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
