.alloy-editor-container {
	.alloy-editor {
		&.alloy-editor-placeholder {
<<<<<<< HEAD
			color: #2b4259;

			&.ae-placeholder:not(:focus) {
				background: transparent;
				border-left-color: #dbdde1;
				color: #b0b4bb;
			}

			&.readonly {
				color: #ccc;
=======
			color: #2B4259;

			&.ae-placeholder:not(:focus) {
				background: transparent;
				border-left-color: #DBDDE1;
				color: #B0B4BB;
			}

			&.readonly {
				color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}

		outline: 0;
	}

	.alloy-editor-icon {
<<<<<<< HEAD
		color: #869cad;
=======
		color: #869CAD;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.has-error .alloy-editor-container .alloy-editor.alloy-editor-placeholder {
	&.ae-placeholder:not(:focus) {
<<<<<<< HEAD
		border-left-color: #cc6677;
	}
}
=======
		border-left-color: #CC6677;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
