.html-editor.portlet {
<<<<<<< HEAD
	background: #fff;
=======
	background: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	color: #000;
	line-height: 1;
	padding: 1em;
}

.html-editor.portlet-message-boards {
	@include hyphens;

	word-wrap: break-word;

	blockquote {
<<<<<<< HEAD
		background: #eef0f2 url(../images/message_boards/quoteleft.png)
			no-repeat 5px 5px;
=======
		background: #EEF0F2 url(../images/message_boards/quoteleft.png) no-repeat 5px 5px;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		border: 1px solid #777;
		padding: 5px 45px;

		&:after {
<<<<<<< HEAD
			background: url(../images/message_boards/quoteright.png) no-repeat
				50%;
=======
			background: url(../images/message_boards/quoteright.png) no-repeat 50%;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			content: '';
			display: block;
			float: right;
			height: 24px;
			margin-right: -35px;
			margin-top: -25px;
			width: 31px;
			z-index: 999;
		}

		cite {
			display: block;
			font-weight: bold;
		}
	}

	pre {
<<<<<<< HEAD
		background: #f9f9f9;
		border: 1px solid #777;
		padding: 0.5em;
	}
}
=======
		background: #F9F9F9;
		border: 1px solid #777;
		padding: 0.5em;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
