.file-icon-color-0 {
	background-color: $file-icon-color-0;
	color: $file-icon-text-color-0;
}

.file-icon-color-1 {
	background-color: $file-icon-color-1;
<<<<<<< HEAD
	color: $file-icon-text-color-1;
=======
	color:$file-icon-text-color-1;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.file-icon-color-2 {
	background-color: $file-icon-color-2;
<<<<<<< HEAD
	color: $file-icon-text-color-2;
=======
	color:$file-icon-text-color-2;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.file-icon-color-3 {
	background-color: $file-icon-color-3;
<<<<<<< HEAD
	color: $file-icon-text-color-3;
=======
	color:$file-icon-text-color-3;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.file-icon-color-4 {
	background-color: $file-icon-color-4;
<<<<<<< HEAD
	color: $file-icon-text-color-4;
=======
	color:$file-icon-text-color-4;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.file-icon-color-5 {
	background-color: $file-icon-color-5;
<<<<<<< HEAD
	color: $file-icon-text-color-5;
=======
	color:$file-icon-text-color-5;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.file-icon-color-6 {
	background-color: $file-icon-color-6;
<<<<<<< HEAD
	color: $file-icon-text-color-6;
=======
	color:$file-icon-text-color-6;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.file-icon-color-7 {
	background-color: $file-icon-color-7;
<<<<<<< HEAD
	color: $file-icon-text-color-7;
}
=======
	color:$file-icon-text-color-7;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
