.lfr-item-viewer {
	.image-viewer-base {
		outline: none;
	}

	.item-preview:hover {
		cursor: pointer;
	}

	.aspect-ratio a.item-preview {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.search-info {
<<<<<<< HEAD
		background-color: #d3e8f1;
=======
		background-color: #D3E8F1;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

		.keywords {
			font-size: 1.4em;
			font-weight: bold;
		}

		.change-search-folder {
			font-size: 0.8em;
			font-weight: normal;
		}
	}

	.progress-container {
<<<<<<< HEAD
		background-color: #fff;
=======
		background-color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	&.uploading > div:not(.progress-container) {
		opacity: 0.3;
	}
}

.image-viewer-caption {
	color: #777;
}

.image-viewer-footer-control {
<<<<<<< HEAD
	&,
	&:focus,
	&:hover {
=======
	&, &:focus, &:hover {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		color: #777;
	}
}

.image-viewer-sidenav-menu {
	@include sm {
		background-color: transparent;
		border-left-width: 0;
	}
}

.image-viewer-sidenav {
	dd {
<<<<<<< HEAD
		color: #8b8b8b;
=======
		color: #8B8B8B;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		margin-bottom: 16px;

		@include sm {
			color: #777;
		}
	}

	.h5 {
<<<<<<< HEAD
		color: #869cad;
		margin-bottom: 3px;

		@include sm {
			color: #fff;
=======
		color: #869CAD;
		margin-bottom: 3px;

		@include sm {
			color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	.nav-tabs-default {
		> li {
			padding-left: 20px;

			&:first-child {
				padding-left: 0;
			}
		}

		> li:first-child > a {
			padding-left: 0;
		}

		> li > a {
			border-color: transparent;
			color: #777;
			padding-left: 0;
			padding-right: 0;
		}

		> .active > a {
<<<<<<< HEAD
			&,
			&:focus,
			&:hover {
=======
			&, &:focus, &:hover {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				border-color: transparent;
				color: #777;

				@include sm {
<<<<<<< HEAD
					color: #fff;
=======
					color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}

			&:after {
<<<<<<< HEAD
				background-color: #65b6f0;
=======
				background-color: #65B6F0;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				bottom: -10px;
				content: '';
				display: block;
				height: 2px;
				left: 0;
				position: absolute;
				right: 0;
			}
		}
	}
}

.image-viewer-sidenav-body {
	padding-top: 0;
}

.lfr-item-viewer .lfr-item-viewer-close {
<<<<<<< HEAD
	color: #fff;
	opacity: 1;

	&,
	&:focus,
	&:hover {
		color: #fff;
=======
	color: #FFF;
	opacity: 1;

	&, &:focus, &:hover {
		color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.icon-monospaced {
		color: #777;
	}
}

.lfr-item-viewer-icon-info {
<<<<<<< HEAD
	color: #fff;
}
=======
	color: #FFF;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
