.nav.list-group {
	li > a {
<<<<<<< HEAD
		&:focus,
		&:hover {
			background-color: #e5f5fc;
			color: #009ae5;
=======
		&:focus, &:hover {
			background-color: #E5F5FC;
			color: #009AE5;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	> .active {
		border-width: 1px 0 0 0;

		> a {
<<<<<<< HEAD
			&,
			&:focus,
			&:hover {
				background-color: #60bfef;
				border: 1px solid #60bfef;
				color: #fff;
=======
			&, &:focus, &:hover {
				background-color: #60BFEF;
				border: 1px solid #60BFEF;
				color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}
	}

	.list-group-item {
		padding: 0;

		&.nav-header {
<<<<<<< HEAD
			background-color: #f3f3f3;
=======
			background-color: #F3F3F3;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			padding-left: 10px;
			padding-right: 10px;
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
