.dragging .portlet-column.customizable {
<<<<<<< HEAD
	background-color: #cffccf;
	outline: 3px solid #5eaf3d;
=======
	background-color: #CFFCCF;
	outline: 3px solid #5EAF3D;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.customizable-layout-column-content {
	&.yui3-widget-content-expanded {
		margin: 0 15px;
	}

<<<<<<< HEAD
	background-color: #c92c3c;
}

.layout-customizable-controls {
	background-color: rgba(201, 44, 60, 0.8);
=======
	background-color: #C92C3C;
}

.layout-customizable-controls {
	background-color: rgba(201, 44, 60, 0.8)
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.customizable {
	.customizable-layout-column-content {
<<<<<<< HEAD
		background-color: #5eaf3d;
=======
		background-color: #5EAF3D;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.layout-customizable-controls {
		background-color: rgba(94, 175, 61, 0.8);
	}
}

.layout-customizable-controls-container {
	margin: 0 15px;
	position: relative;
}

.layout-customizable-controls {
	label {
<<<<<<< HEAD
		color: #fff;
=======
		color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	font-size: 1.5em;
	padding: 4px 16px;
	position: absolute;
	width: 100%;
	z-index: 15;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
