.lfr-nav.nav-tabs {
	margin-bottom: 20px;
}

.tab-active strong {
	font-weight: normal;
}

.tab-back {
	float: right;
}

.tab-back-content {
	border-width: 0;
	padding: 1px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
