.tagselector-content {
	border: 0;
	padding: 0;

	.textboxlistentry-holder {
<<<<<<< HEAD
		border-bottom: 2px solid #869cad;
=======
		border-bottom: 2px solid #869CAD;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		margin-bottom: 10px;
		padding: 0;
	}
}

.categoriesselector-content .textboxlistentry-holder {
	background-color: transparent;
	border-width: 0;
	padding: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
