/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
// Skin

$figcaption-bg: #000 !default;
$figcaption-bg-alpha: 0.7 !default;
<<<<<<< HEAD
$figcaption-color: #fff !default;

$figcaption-default-bg: $brand-default !default;
$figcaption-default-bg-alpha: $figcaption-bg-alpha !default;
$figcaption-default-color: $figcaption-color !default;
=======
$figcaption-color: #FFF !default;

$figcaption-default-bg: $brand-default !default;
$figcaption-default-bg-alpha: $figcaption-bg-alpha !default;
$figcaption-default-color: $figcaption-color !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
