/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$multi-step-progress-bar-divider-height: 2px !default;
<<<<<<< HEAD
$multi-step-progress-bar-color: #cad3db !default;
$multi-step-progress-bar-complete-color: $brand-default !default;
=======
$multi-step-progress-bar-color: #CAD3DB !default;
$multi-step-progress-bar-complete-color: $brand-default !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
