/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
<<<<<<< HEAD
$table-bg-accent: darken(#fcfeff, 2%) !default;
$table-bg-hover: #fcfeff !default;
=======
$table-bg-accent: darken(#FCFEFF, 2%) !default;
$table-bg-hover: #FCFEFF !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

$table-header-color: $brand-default !default;
$table-header-font-size: 14px !default;
$table-header-font-weight: 500 !default;

<<<<<<< HEAD
$table-list-body-row-bg: #fff !default;
=======
$table-list-body-row-bg: #FFF !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

$table-list-row-active-border-bottom-width: 2px !default;
$table-list-row-active-border-color: $brand-primary !default;
$table-list-row-height: 72px !default;

<<<<<<< HEAD
$table-list-link-color: $brand-default !default;
=======
$table-list-link-color: $brand-default !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
