/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$timeline-border: $inverse-color !default;
<<<<<<< HEAD
$timeline-icon-border: #ddd !default;
$timeline-increment-label-color: $brand-default !default;
=======
$timeline-icon-border: #DDD !default;
$timeline-increment-label-color: $brand-default !default;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
