.app-view-entry {
	&:hover .entry-thumbnail {
<<<<<<< HEAD
		border-color: #7abfdd;
	}

	&.selected {
		.entry-thumbnail {
			border-color: #057cb0;
		}

		.entry-metadata {
			dt,
			dd,
			.entry-categories,
			.entry-tags,
			.entry-description {
				color: #f0f0f0;
=======
		border-color: #7ABFDD;
	}

	&.selected{
		.entry-thumbnail {
			border-color: #057CB0;
		}

		.entry-metadata {
			dt, dd, .entry-categories, .entry-tags, .entry-description {
				color: #F0F0F0;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}
	}

	.entry-title {
		font-weight: bold;
	}

	.entry-link {
		text-decoration: none;
	}

	.entry-metadata {
<<<<<<< HEAD
		dt,
		dd,
		.entry-categories,
		.entry-tags,
		.entry-description {
=======
		dt, dd, .entry-categories, .entry-tags, .entry-description {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			color: #333;
			word-wrap: break-word;
		}

		.entry-categories .taglib-asset-categories-summary {
			font-weight: bold;

			.asset-category {
				font-weight: normal;
			}
		}
	}

<<<<<<< HEAD
	&.selected,
	&.selected:hover {
		background-color: #00a2ea;
	}

	&.selected a {
		&,
		&:focus,
		&:hover {
			color: #fff;
=======
	&.selected, &.selected:hover {
		background-color: #00A2EA;
	}

	&.selected a {
		&, &:focus, &:hover {
			color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}

		.lfr-icon-menu-arrow {
			color: #333;
		}
	}

<<<<<<< HEAD
	&.active-area,
	&.active-area.hover,
	&.active-area td {
		background-color: #5ad300;
	}

	&:hover,
	&.hover {
		background-color: #d3e8f1;
=======
	&.active-area, &.active-area.hover, &.active-area td {
		background-color: #5AD300;
	}

	&:hover, &.hover {
		background-color: #D3E8F1;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	a.entry-link:hover {
		text-decoration: none;

		.entry-metadata .entry-title .entry-title-text {
			text-decoration: underline;
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
