.app-view-search-entry-taglib {
<<<<<<< HEAD
	.entry-discussion,
	.entry-attachment {
=======
	.entry-discussion, .entry-attachment {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		a {
			text-decoration: none;
		}

		&:hover {
<<<<<<< HEAD
			background-color: #d3e8f1;
=======
			background-color: #D3E8F1;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	.entry-folder {
		color: #999;
	}

	.entry-link .entry-thumbnail-image {
		color: #000;
		text-decoration: none;
	}

	&.alt {
<<<<<<< HEAD
		background-color: #edf0f3;
	}

	&.search {
		background-color: #fff;

		&.alt {
			background-color: #e2e5e8;
		}
	}
}
=======
		background-color: #EDF0F3;
	}

	&.search {
		background-color: #FFF;

		&.alt {
			background-color: #E2E5E8;
		}
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
