.taglib-asset-metadata {
	.metadata-entry-label {
		font-weight: normal;
	}

	.metadata-author {
		font-weight: bold;
	}

	.metadata-entry {
		color: #999;
	}

	.metadata-author .asset-user-info {
		.user-info {
<<<<<<< HEAD
			color: #009ae5;
=======
			color: #009AE5;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			font-size: 14px;
			line-height: 14px;
		}

		.date-info {
<<<<<<< HEAD
			color: #8c8c8c;
			font-size: 13px;
		}
	}
}
=======
			color: #8C8C8C;
			font-size: 13px;
		}
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
