.taglib-calendar {
	table {
		border-color: #999;
	}

	tr {
<<<<<<< HEAD
		th,
		td {
			border-bottom-color: #999;
		}

		&.portlet-section-header th,
		td {
=======
		th, td {
			border-bottom-color: #999;
		}

		&.portlet-section-header th, td {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			border-color: #999;
		}
	}

<<<<<<< HEAD
	a:hover,
	a:focus {
		background-color: #ccc;
=======
	a:hover, a:focus {
		background-color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.calendar-inactive {
		color: #999;
	}

	.has-events {
		a span {
<<<<<<< HEAD
			background: url(../images/calendar/event_indicator.png) no-repeat
				50% 95%;
=======
			background: url(../images/calendar/event_indicator.png) no-repeat 50% 95%;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}

		&.calendar-current-day a span {
			background-image: url(../images/calendar/event_indicator_current.png);
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
