.taglib-categorization-filter {
	&.entry-title {
		color: #333;
		font-size: 1em;
		line-height: inherit;
	}

	.asset-entry {
<<<<<<< HEAD
		background-color: #dee7f8;
		border-color: #cad8f3;
=======
		background-color: #DEE7F8;
		border-color: #CAD8F3;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

		&:hover a {
			text-decoration: none;

			.icon-remove {
<<<<<<< HEAD
				background-color: #cad8f3;
			}
		}
	}
}
=======
				background-color: #CAD8F3;
			}
		}
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
