.taglib-diff-html {
	div {
		&.diff-removed-image {
<<<<<<< HEAD
			background: #fdc6c6 url(../images/diff/minus.png);
		}

		&.diff-added-image {
			background: #cfc url(../images/diff/plus.png) no-repeat;
		}

		&.diff-removed-image,
		&.diff-added-image {
=======
			background: #FDC6C6 url(../images/diff/minus.png);
		}

		&.diff-added-image {
			background: #CFC url(../images/diff/plus.png) no-repeat;
		}

		&.diff-removed-image, &.diff-added-image {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			opacity: 0.55;
		}
	}

	span {
		&.diff-html-added {
<<<<<<< HEAD
			background-color: #cfc;
			font-size: 1em;

			img {
				border-color: #cfc;
=======
			background-color: #CFC;
			font-size: 1em;

			img {
				border-color: #CFC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}

		&.diff-html-changed {
			background: url(../images/diff/underline.png) bottom repeat-x;

			img {
				border-color: #009;
			}
		}

		&.diff-html-removed {
<<<<<<< HEAD
			background-color: #fdc6c6;
=======
			background-color: #FDC6C6;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			font-size: 1em;
			text-decoration: line-through;

			img {
<<<<<<< HEAD
				border-color: #fdc6c6;
			}
		}
	}
}
=======
				border-color: #FDC6C6;
			}
		}
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
