<<<<<<< HEAD
.taglib-diff-addedline,
#taglib-diff-results ins {
	background: #e6ffe6;
}

.taglib-diff-context {
	background: #eee;
}

.taglib-diff-deletedline,
#taglib-diff-results del {
	background: #ffe6e6;
}
=======
.taglib-diff-addedline, #taglib-diff-results ins {
	background: #E6FFE6;
}

.taglib-diff-context {
	background: #EEE;
}

.taglib-diff-deletedline, #taglib-diff-results del {
	background: #FFE6E6;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
