.diff-version-comparator {
	.taglib-diff-html {
		.diff-html-changed {
			background-image: none;
<<<<<<< HEAD
			border-bottom-color: #009ae5;

			img {
				border-color: #009ae5;
=======
			border-bottom-color: #009AE5;

			img {
				border-color: #009AE5;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}
	}

	.diff-target-selector {
<<<<<<< HEAD
		border-left-color: #e5e5e5;
	}

	.diff-version-filter {
		background-color: #f9f9f9;
	}
}
=======
		border-left-color: #E5E5E5;
	}

	.diff-version-filter {
		background-color: #F9F9F9;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
