.drop-zone.drop-enabled:not(.no-border) {
<<<<<<< HEAD
	outline-color: transparentize(#b0b4bb, 0.5);
=======
	outline-color: transparentize(#B0B4BB, 0.5);
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.drop-here-info {
	.drop-icons {
<<<<<<< HEAD
		span:nth-of-type(1),
		span:nth-of-type(3) {
			background: #e8e6e8;
			color: #a5a6ac;
		}

		span:nth-of-type(2) {
			background: #00c2ff;
			color: #fff;
=======
		span:nth-of-type(1), span:nth-of-type(3) {
			background: #E8E6E8;
			color: #A5A6AC;
		}

		span:nth-of-type(2) {
			background: #00C2FF;
			color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	.drop-text {
<<<<<<< HEAD
		color: #fff;
=======
		color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.drop-active .drop-here-info {
	background-color: transparentize(#000, 0.4);
	z-index: 100;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
