.taglib-flags {
	.icon-flag {
		color: #999;
	}

	.flag-enable:hover {
		.icon-flag {
<<<<<<< HEAD
			color: #c00;
		}
	}
}
=======
			color: #C00;
		}
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
