.taglib-form-navigator {
	> .form-steps > ul.form-navigator.list-group {
		background: transparent;

		.tab {
			&.active {
				background: transparent;
				opacity: 1;

				.tab-label {
<<<<<<< HEAD
					&:hover,
					&:focus {
=======
					&:hover, &:focus {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
						background: transparent;
					}

					.message {
						color: #000;
						opacity: 0.7;
					}

					.number {
						background: #333;
						font-size: 18px;
						opacity: 1;
					}

					.tab-icon {
						color: #333;
					}
				}
			}

			.tab-label {
				background: transparent;
				outline: 0;

<<<<<<< HEAD
				&:hover,
				&:focus {
=======
				&:hover, &:focus {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
					text-decoration: none;

					.number {
						opacity: 1;
					}
				}

				.number {
<<<<<<< HEAD
					background: #ccc;
					color: #fff;
=======
					background: #CCC;
					color: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
					font-size: 14px;
					font-weight: bold;
					opacity: 0.6;
					text-decoration: none;
				}

				.message {
					color: #000;
					font-size: 12px;
				}
			}
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
