.taglib-header {
<<<<<<< HEAD
	border-bottom-color: #c8c9ca;
=======
	border-bottom-color: #C8C9CA;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	color: #555;

	.header-back-to a {
		font-weight: bold;
		text-decoration: none;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
