.taglib-move-boxes {
	.choice-selector label {
<<<<<<< HEAD
		background: #ebf1f9;
		border-bottom-color: #8db2f3;
=======
		background: #EBF1F9;
		border-bottom-color: #8DB2F3;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.sortable-container .move-option {
		background-color: transparent;

		&.move-option-dragging {
<<<<<<< HEAD
			background-color: #fafafa;
=======
			background-color: #FAFAFA;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}

		.handle {
			color: #999;
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
