.lfr-tree-display-page {
	.tree-node .tree-node-over .tree-label {
		text-decoration: none;
	}

	.tree-label {
		cursor: default;

		a {
			color: black;
		}

		.layout-page-invalid {
<<<<<<< HEAD
			color: #aaa;
=======
			color: #AAA;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			font-style: italic;

			&:hover {
				cursor: default;
				text-decoration: none;
			}
		}
	}
}

.lfr-tree-radio.lfr-tree-root-node-hidden .lfr-root-node + .tree-container {
	margin-left: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
