.lfr-map {
<<<<<<< HEAD
	border-color: #ccc;
=======
	border-color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

	.search-controls {
		font-size: 15px;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
