.navbar {
	.navbar-search {
<<<<<<< HEAD
		background-color: #f3f3f3;
=======
		background-color: #F3F3F3;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

		@include sm {
			background-color: transparent;
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
