.taglib-portlet-preview.show-borders {
<<<<<<< HEAD
	border-color: #828f95;

	.title {
		background-color: #d3dadd;
		font-size: 1.4em;
		font-weight: bold;
	}
}
=======
	border-color: #828F95;

	.title {
		background-color: #D3DADD;
		font-size: 1.4em;
		font-weight: bold;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
