.taglib-search-toggle .toggle-advanced {
	color: inherit;

<<<<<<< HEAD
	&,
	&:hover,
	&:focus {
=======
	&, &:hover, &:focus {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		text-decoration: none;
	}
}

.taglib-search-toggle-advanced-wrapper .taglib-search-toggle-advanced {
<<<<<<< HEAD
	background-color: #fcfcfc;
	border-color: #ddd;
=======
	background-color: #FCFCFC;
	border-color: #DDD;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

	.btn.close {
		margin-right: 5px;
	}

	.taglib-search-toggle-advanced-content {
		position: relative;

		.match-fields {
			margin-bottom: 0;
		}

		.match-fields-legend {
			color: #999;
			font-size: 13px;
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
