.taglib-user-display {
	a .user-name {
		text-decoration: underline;
	}

	.avatar {
		background: no-repeat center;
		background-size: 60px;

		&.author:after {
<<<<<<< HEAD
			background: transparentize(#32a8e6, 0.5);
=======
			background: transparentize(#32A8E6, 0.5);
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	.user-name {
		font-size: 1.1em;
		font-weight: bold;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
