.js .taglib-webdav {
	&.visible {
<<<<<<< HEAD
		background: #f0f5f7;
	}

	table {
		border-color: #828f95;
	}
}
=======
		background: #F0F5F7;
	}

	table {
		border-color: #828F95;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
