/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
<<<<<<< HEAD
@mixin color-dropdown-toggle-link(
	$color: $link-color,
	$focus-color: $link-hover-color,
	$hover-color: $link-hover-color
) {
=======
@mixin color-dropdown-toggle-link($color: $link-color, $focus-color: $link-hover-color, $hover-color: $link-hover-color) {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	.dropdown-toggle {
		color: $color;

		&:focus {
			color: $focus-color;
		}

		&:hover {
			color: $hover-color;
		}
	}
}

<<<<<<< HEAD
@mixin color-dropdown-menu-links(
	$color: $dropdown-link-color,
	$focus-color: $dropdown-link-active-color,
	$hover-color: $dropdown-link-hover-color
) {
=======
@mixin color-dropdown-menu-links($color: $dropdown-link-color, $focus-color: $dropdown-link-active-color, $hover-color: $dropdown-link-hover-color) {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	.dropdown-menu {
		a {
			color: $color;

			&:focus {
				color: $focus-color;
			}

			&:hover {
				color: $hover-color;
			}
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
