/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
// Deprecated
// `color-tabular-list-group-item($color, $active-bg: $list-group-active-bg)` as
// of v1.0.9 and will be removed in v2.0.0.

<<<<<<< HEAD
@mixin color-tabular-list-group-item(
	$color,
	$active-bg: $list-group-active-bg
) {
=======
@mixin color-tabular-list-group-item($color, $active-bg: $list-group-active-bg) {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	background-color: transparent;
	border-left: 5px solid $color;

	&,
	&:focus,
	&:hover {
		color: $color;
	}

	&.active {
		background-color: $active-bg;
	}

	.status {
		color: $color;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
