.cke_toolbar {
	&.cke_toolbar__a11yhelpbtn {
<<<<<<< HEAD
		.cke_toolgroup,
		.cke_toolgroup:hover {
=======
		.cke_toolgroup, .cke_toolgroup:hover {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			background: transparent;
		}

		.cke_button {
			&:hover {
				background: transparent;
			}

			.cke_button_label {
				&:after {
<<<<<<< HEAD
					border-color: #a6a6a6;
					font-family: 'Courier New', Courier,
						'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
=======
					border-color: #A6A6A6;
					font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
				}
			}
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
