.lfr-asset-column-actions-content {
<<<<<<< HEAD
	background-color: #d7f1ff;
}

.lfr-asset-column-actions .lfr-asset-column-actions-content {
	border-color: #88c5d9;
=======
	background-color: #D7F1FF;
}

.lfr-asset-column-actions .lfr-asset-column-actions-content {
	border-color: #88C5D9;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.lfr-asset-column-details {
	.lfr-asset-categories {
<<<<<<< HEAD
		color: #7d7d7d;
=======
		color: #7D7D7D;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

		.lfr-asset-category {
			color: #555;
		}
	}

	.lfr-asset-description {
		color: #444;
		font-style: italic;

		@include hyphens;
	}

	.lfr-asset-icon {
		border-right-color: #999;
		color: #999;
	}

	.lfr-asset-tags {
<<<<<<< HEAD
		color: #7d7d7d;
=======
		color: #7D7D7D;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

		.tag {
			color: #555;
		}
	}
}

<<<<<<< HEAD
.lfr-asset-panels,
.lfr-asset-column-details {
	.lfr-panel.lfr-extended {
		border-color: #ccc;
	}
}
=======
.lfr-asset-panels, .lfr-asset-column-details {
	.lfr-panel.lfr-extended {
		border-color: #CCC;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
