.lfr-asset-category-container {
	.no-matches {
		color: #999;
	}
}

.lfr-asset-category-search-container {
<<<<<<< HEAD
	background-color: #d3dadd;
	border-bottom-color: #aeb8bc;
}

.lfr-asset-category-list a.selected {
	background-color: #eee;
=======
	background-color: #D3DADD;
	border-bottom-color: #AEB8BC;
}

.lfr-asset-category-list a.selected {
	background-color: #EEE;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

.lfr-categories-selector-search-results-path {
	color: #575757;
	font-size: 0.9em;
	text-align: right;
	width: 25%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
