.definition-of-terms dt {
	color: #333;
	font-weight: normal;
	width: 100%;
	word-break: break-word;

	@include sm {
		width: auto;
	}
}

.lfr-code {
<<<<<<< HEAD
	background: #fff;
=======
	background: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	border-color: #777;
	font-family: monospace;

	tr td.line-numbers {
<<<<<<< HEAD
		background: #fafafa;

		&:before {
			color: #aaa;
			text-shadow: 1px 1px #fff;
=======
		background: #FAFAFA;

		&:before {
			color: #AAA;
			text-shadow: 1px 1px #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}
}

.popup-alert-notice .countdown-timer {
	font-size: 1.1em;
	font-weight: bold;
}

.lfr-token {
<<<<<<< HEAD
	background-color: #b3daef;
	border-color: #5fa8ff;
=======
	background-color: #B3DAEF;
	border-color: #5FA8FF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	color: #444;
	text-decoration: none;

	&:hover {
<<<<<<< HEAD
		background-color: #d1e5ef;
=======
		background-color: #D1E5EF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.lfr-token-primary {
	font-weight: bold;

<<<<<<< HEAD
	&,
	&:hover {
		background-color: #b3daef;
=======
	&, &:hover {
		background-color: #B3DAEF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.lfr-token-close:hover {
	text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
