.lfr-button {
	background: no-repeat 0 50%;
}

.lfr-table {
<<<<<<< HEAD
	> tbody,
	> thead,
	> tfoot {
=======
	> tbody, > thead, > tfoot {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		> tr > th {
			font-weight: bold;
		}
	}
}

<<<<<<< HEAD
.lfr-checkbox-preselected,
.lfr-configurator-visibility {
	opacity: 0.5;
}
=======
.lfr-checkbox-preselected, .lfr-configurator-visibility {
	opacity: 0.5;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
