.lfr-header-row {
<<<<<<< HEAD
	border-bottom-color: #7b7b7b;

	.lfr-search-combobox {
		border-color: #5f5f5f;
	}
}
=======
	border-bottom-color: #7B7B7B;

	.lfr-search-combobox {
		border-color: #5F5F5F;
	}
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
