<<<<<<< HEAD
.openid-login input[type='text'] {
	background: url(../images/common/openid.gif) no-repeat;
	background-color: #fff;
	background-position: 0 50%;
	color: #000;
}
=======
.openid-login input[type="text"] {
	background: url(../images/common/openid.gif) no-repeat;
	background-color: #FFF;
	background-position: 0 50%;
	color: #000;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
