.lfr-panel-page {
	.panel-page-content {
<<<<<<< HEAD
		border-left-color: #ccc;
=======
		border-left-color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.lfr-add-content {
		h2 {
<<<<<<< HEAD
			border-color: #ccc;

			span {
				background: #efefef;
=======
			border-color: #CCC;

			span {
				background: #EFEFEF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			}
		}

		.lfr-content-category h2 {
<<<<<<< HEAD
			border-bottom-color: #ccc;
=======
			border-bottom-color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

			span {
				background: none;
			}
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
