textarea.lfr-editor-textarea {
	font-family: monospace;
}

.lfr-rich-editor.ace_editor {
<<<<<<< HEAD
	border-color: #a1a2a4;
}

.lfr-plain-editor textarea,
.lfr-rich-editor.ace_editor {
	font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
	font-size: 12px;
}
=======
	border-color: #A1A2A4;
}

.lfr-plain-editor textarea, .lfr-rich-editor.ace_editor {
	font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
	font-size: 12px;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
