.lfr-tag-selector-popup {
	label {
<<<<<<< HEAD
		border-bottom-color: #eee;
=======
		border-bottom-color: #EEE;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.no-matches {
		color: #999;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
