.lfr-toolbar {
<<<<<<< HEAD
	background-color: #e5e4e8;
=======
	background-color: #E5E4E8;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

	.lfr-button {
		&:focus {
			border-color: #000;
		}

		&:hover {
<<<<<<< HEAD
			border-color: #ccc #777 #777;
=======
			border-color: #CCC #777 #777;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		}
	}

	.lfr-separator {
<<<<<<< HEAD
		border-left-color: #fff;
		border-right-color: #ccc;
=======
		border-left-color: #FFF;
		border-right-color: #CCC;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		font-size: 12px;
	}
}

<<<<<<< HEAD
.lfr-toolbar,
.lfr-emoticon-container {
	.lfr-button {
		border-color: #e5e4e8;
=======
.lfr-toolbar, .lfr-emoticon-container {
	.lfr-button {
		border-color: #E5E4E8;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.lfr-emoticon-container {
<<<<<<< HEAD
	background: #e5e4e8;
	border-color: #ccc;
}
=======
	background: #E5E4E8;
	border-color: #CCC;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
