.lfr-upload-container {
	.upload-target {
<<<<<<< HEAD
		border-color: #ddd;
=======
		border-color: #DDD;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469

		h4 span {
			text-transform: lowercase;
		}

		.drop-file-text {
			font-weight: normal;
		}
	}

	a {
		&.browse-button {
			background-image: url(../images/common/add.png);
			background-repeat: no-repeat;
			color: white;
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
		}

		&.clear-uploads {
			background-image: url(../images/common/remove.png);
			background-repeat: no-repeat;
		}

		&.cancel-uploads {
			background-image: url(../images/common/close.png);
			background-repeat: no-repeat;
		}
	}

	.multiple-files .upload-file {
		&.upload-complete {
		}
	}

	.upload-file {
		.file-title {
		}
	}

	.upload-list-info h4 {
		font-size: 1.3em;
	}

	.cancel-button {
<<<<<<< HEAD
		color: #869cad;
	}

	.delete-button {
		color: #869cad;
=======
		color: #869CAD;
	}

	.delete-button {
		color: #869CAD;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}

	.file-added .success-message {
		font-weight: normal;
	}

	.upload-error {
		opacity: 1;
	}

	.multiple-files .upload-error {
<<<<<<< HEAD
		background: #fdd url(../images/messages/error.png) no-repeat 5px 5px;
=======
		background: #FDD url(../images/messages/error.png) no-repeat 5px 5px;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		border-color: #900;
		color: #900;
		font-weight: normal;
	}

	.upload-complete {
<<<<<<< HEAD
		.error-message,
		.success-message {
=======
		.error-message, .success-message {
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
			font-weight: bold;
		}
	}

	.file-uploading {
<<<<<<< HEAD
		background-color: #ffc;
	}

	.progress-bar {
		background: #fff;
=======
		background-color: #FFC;
	}

	.progress-bar {
		background: #FFF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
		margin-top: 25px;
		text-align: left;
		width: 100%;
	}

	.progress {
<<<<<<< HEAD
		background: #8db2e3;
=======
		background: #8DB2E3;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
	}
}

.upload-drop-active .lfr-upload-container .upload-target {
<<<<<<< HEAD
	background-color: #ddedde;
	border-color: #7d7;
	border-style: dashed;
}
=======
	background-color: #DDEDDE;
	border-color: #7D7;
	border-style: dashed;
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
