/* ---------- Main content body ---------- */

.portal-iframe #main-content {
	width: 100%;
}

/* ---------- Separator ---------- */

.separator {
<<<<<<< HEAD
	border-top: 1px dotted #bfbfbf;
=======
	border-top: 1px dotted #BFBFBF;
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
}

/* ---------- Status ---------- */

.entry-status {
	border-left: 4px solid transparent;
}

span.alert {
	display: inline-block;
}

/* ---------- Update manager ---------- */

.update-available {
	margin-top: 10px;
	padding: 2px;
	text-align: left;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3cc350081830d5b3ed7848d769d3985a6bbf0469
